.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.board-wrp {
  padding: 3px;
}

.board{
  background: #222;
}

.cell {
  height: 50px;
  width: 50px;
  background: gray;
  float: left;
  margin: 1px;
  border: 1px solid;
  line-height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.cell.first {
  clear: left;
}

.cell.mine{
  color : white;
}

.cell.show{
  background-color: #a6d2a8;
}

.cell > span {
  pointer-events: none;
}

form {
  padding: 10px;
}

label.inptLbl {
  margin: 5px;
}

input[type="submit"] {
  display: block;
  margin: 5px auto;
  width: 300px;
}

div[data-val="0"] span {
  display: none;
}

.no-show span {
  display: none;
}

/*div[data-val="0"] {
  background: white;
}*/

.flagged {
  background: #9292d6;
}
